.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
  background: #555;
}

.recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
.recipe-container .recipe {
  min-width: 280px;
  min-height: 300px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.recipe-container .recipe .content {
  padding: 20px;
  text-align: center;
}

.recipe-container .recipe .content h2 {
  background-color: rgba(161, 161, 161, 0.7);
  pointer-events: none;
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  font-size: 26px;
  font-weight: 300;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
  transform: translateZ(100px);
}

.recipe-container .recipe .content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.recipe-container .recipe .content .btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  font-weight: 500;
}
.recipe-container .recipe .content .btn-container a {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 40%;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background: silver;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.recipe-container .recipe .content .btn-container a:hover {
  background-color: black;
  transition: 0.3s;
}
.recipe-container .recipe .content button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  background-color: silver;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.recipe-container .recipe .content button:hover {
  background-color: black;
  transition: 0.3s;
}

.ingredient-list {
  list-style: inside;
}
.ingredient-text {
  font-size: 32px;
}
