* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  background: url(./images/3.jpg) center center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}
